<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager"
		p:cacheManager-ref="shiroEhcacheManager">
		<property name="realms">
			<set>
				<ref bean="shiroIniRealm" />
				<ref bean="shiroRealm" />
				<ref bean="shiroSsoRealm" />
			</set>
		</property>
	</bean>

	<bean id="shiroSsoFilter" class="org.apache.shiro.cas.CasFilter"
		p:failureUrl="${casFailureUrl}" />
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean"
		p:securityManager-ref="securityManager" p:unauthorizedUrl="/unauthorized"
		p:loginUrl="${casServerUrlPrefix}/login?service=${casService}">
		<property name="filters">
			<map>
				<entry key="shiroSsoFilter" value-ref="shiroSsoFilter" />
			</map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/sso = shiroSsoFilter
				/login = anon
				/javax.faces.resource/** = anon
				/resources/** = anon
				/ws/** = anon
				/faces/** = roles[admin]
				/admin/** = roles[admin]
				/** = authc
			</value>
		</property>
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	<bean depends-on="lifecycleBeanPostProcessor"
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />
	<bean p:securityManager-ref="securityManager"
		class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor" />
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager" />

	<bean id="shiroIniRealm" class="org.apache.shiro.realm.text.IniRealm"
		p:resourcePath="${shiro.ini.resourcePath}" p:credentialsMatcher-ref="shiroIniCredentialsMatcher"
		p:name="INI" />
	<bean id="shiroRealm" class="com.hengyi.japp.report.shiro.Realm" />
	<bean id="shiroSsoRealm" class="com.hengyi.japp.report.shiro.SsoRealm"
		p:casServerUrlPrefix="${casServerUrlPrefix}" p:casService="${casService}" />

	<bean id="shiroIniCredentialsMatcher" p:hashAlgorithmName="SHA-512"
		p:storedCredentialsHexEncoded="false" p:hashIterations="5000"
		class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" />

	<context:property-placeholder
		properties-ref="deployProperties" />
</beans>