<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/task 
	   		http://www.springframework.org/schema/task/spring-task.xsd">

	<bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
		<property name="scopes">
			<map>
				<entry key="view">
					<bean class="com.hengyi.japp.common.web.spring.ViewScope" />
				</entry>
			</map>
		</property>
	</bean>

	<bean id="dozer" class="org.dozer.spring.DozerBeanMapperFactoryBean" />
	<bean id="eventBus" class="com.google.common.eventbus.EventBus" />

	<context:component-scan base-package="com.hengyi.japp.crm">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<context:annotation-config />
	<context:spring-configured />

	<import resource="spring-data.xml" />
	<import resource="spring-cxf.xml" />
	<import resource="spring-shiro.xml" />

	<!-- <task:annotation-driven /> -->
	<bean id="deployProperties" p:location="classpath:deploy.properties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean" />
</beans>
